<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- contexts -->
    <bean id="gameContext" class="context.impl.GameContext">
        <constructor-arg ref="simpleFightStrategy"/>
    </bean>

    <!-- managers -->
    <bean id="managerMap" class="manager.impl.ManagerMap">
        <constructor-arg ref="gameContext"/>
    </bean>

    <bean id="baseFightManager" class="manager.impl.BaseFightManager">
        <constructor-arg ref="gameContext"/>
    </bean>

    <!-- strategies -->
    <bean id="simpleFightStrategy" class="strategy.impl.SimpleFightStrategy"/>

    <!-- characters -->
    <bean id="elf" class="model.character.Elf" scope="prototype"/>
    <bean id="golem" class="model.character.Golem" scope="prototype"/>
    <bean id="hobbit" class="model.character.Hobbit" scope="prototype"/>
    <bean id="king" class="model.character.King" scope="prototype"/>
    <bean id="knight" class="model.character.Knight" scope="prototype"/>
    <bean id="orc" class="model.character.Orc" scope="prototype"/>
    <bean id="reflector" class="model.character.Reflector" scope="prototype"/>
    <bean id="trickyArcher" class="model.character.TrickyArcher" scope="prototype"/>
</beans>